<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style = "border-radius: 10px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review <%= @club.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class ="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">    
          <div class="modal-body text-center">
            <%= simple_form_for([@club, Review.new]) do |f| %>
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Please Enter Your name">
              </div>
              <div class="form-group">

              <input type="email" class="form-control" id="email" name="email" placeholder="Please Enter Your email">
              </div>
              <input type="hidden" class="form-control" id="stars_id" name="stars">
              <p class="review_rating">
                Give it a rating
                <i id="review_star_1" onclick="review_star('1')" class="fa fa-star stars ml-3" style = "color: black;"></i>
                <i id="review_star_2" onclick="review_star('2')" class="fa fa-star stars"></i style = "color: black;">
                <i id="review_star_3" onclick="review_star('3')" class="fa fa-star stars"></i style = "color: black;">
                <i id="review_star_4" onclick="review_star('4')" class="fa fa-star stars"></i style = "color: black;">
                <i id="review_star_5" onclick="review_star('5')" class="fa fa-star stars"></i style = "color: black;">
              </p>
              
              <div class="form-group">
                <textarea class="form-control" rows="5" id="content" name="content" placeholder= "Write your review"></textarea>
              </div>

              <div>
                <%= recaptcha_tags %> <!-- THIS -->
              </div>
          
              <%= f.submit class: 'btn btn-vibe ' %>
            <% end %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
