.btn-vibe {
  background-color: #76128F;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.btn-vibe-outline {
  border: 1px solid #76128F;
  color: #76128F;
  font-weight: bold;
  border-radius: 5px;
}
